* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Calibri, sans-serif;
}

button, .button {
  background: rgb(60, 60, 71);
  border: 0;
  min-width: 80px;
  min-height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: rgb(52, 51, 63);
  overflow: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-title, .search-title {
  margin: 3vh 0;
}

