nav {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

h1 {
  margin-left: 2vw;
}

.nav-buttons-box {
  margin-right: 2vw;
  width: 200px;
  display: flex;
  justify-content: space-between;
}