nav {
  width: 100vw;
  height: 8vh;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: sticky;
  top: 0;
  opacity: 86%;
  z-index: 2;
}

.name-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-home-button {
  text-decoration: none;
}

.logo {
  width: 35px;
  margin-left: 2vw;
  margin-right: 10px;
}

.dollar {
  color: rgb(0, 218, 0);
  font-size: 110%;
}

.nav-buttons-box {
  margin-right: 2.5vw;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.active.button {
  background-color: rgb(114, 196, 255);
  color: black;
  border: solid black 2px;
  border-radius: 50px;
  text-decoration: underline;
}

@media screen and (max-width:500px) {
  nav {
    height: 15vh;
  }
  .nav-buttons-box {
    flex-direction: column;
    height: 80%;
    width: 85px;
  }

  .nav-buttons-box > a {
    height: 40px;
  }
}