.search-game-card {
  background-color: rgb(127, 140, 167);
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  height: 42px;
  align-items: center;
  border-radius: 3px;
  position: relative;
}

.search-game-card:hover {
  background-color: rgb(106, 174, 208);
}

.game-card-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 220px;
}

.game-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  height: 40px;
  width: 108px;
  box-shadow: black 2px 2px 1px;
}

.game-image {
  height: 40px;
  width: auto;
  max-width: 108px;
}