.search-page {
  width: 75%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(80, 81, 98);
}

@media screen and (max-width:1180px) {
  .search-page {
    width: 92%;
  }
}
